---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
{% endif %}

<div class="cv-container--pub">
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign filtered = site.publications | where: "category", category[0] %}
    {% if filtered.size > 0 %}
      <h2>{{ category[1].title }}</h2>
      {% include publications-teaser-list.html posts=filtered %}
    {% endif %}
  {% endfor %}
{% else %}
  {% include publications-teaser-list.html %}
{% endif %}
</div>
